@media (min-width: 300px)
.samplemenu.samplecenterdiv {
    padding: 0;
    width: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.whiteBackground {
    background-color: #fff;
    border: 1px solid #dcd9d9;
}
.samplemenu .padding40 {
    padding: 0 40px 40px;

}
.imgsamplemenu{
	display: block;
    margin-left: 60px;
   
    margin-bottom:5px;
}

